@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz@8..144&display=swap");

:root {
  //Color:
  --wereGrey: #f6f3f3;
  --snowWhite: #ffffff;
  --blackEye: #000000;
  --redApple: #c52525;

  //Fonts
  --logoFont: "Righteous", cursive;
  --textFont: "Roboto Flex", sans-serif;
}
